fastapi
uvicorn[standard]
langchain
langchain-google-genai
chromadb
python-dotenv
pypdf
pydantic
mysql-connector-python
pytesseract
Pillow
pymupdf
langchain-core
langchain-text-splitters
langchain_chroma
python-multipart
